* {
    transition: background-color 300ms ease, color 300ms ease;
}
*:focus {
    background-color: rgba(175, 175, 175, 0.2);
    outline: none;
}
html, body {
    color: rgba(33, 37, 41, 1);
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Roboto Thin";
    font-size: 16px;
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}
header {
    background-color: rgba(247, 248, 249, 1);
    padding: .4rem 0 0;
}
.menu {
    padding: .4rem 2rem;
}
header ul {
    border-bottom: 1px solid rgba(242, 242, 242, 1);
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    padding: 0;
    text-align: right;
}
header li {
    display: inline-block;
}
header li a {
    border-radius: 5px;
    color: rgba(0, 0, 0, .5);
    display: block;
    height: 44px;
    text-decoration: none;
}
header li.menu-item a {
    border-radius: 5px;
    margin: 5px 0;
    height: 38px;
    line-height: 36px;
    padding: .4rem .65rem;
    text-align: center;
}
header li.menu-item a:hover,
header li.menu-item a:focus {
    background-color: rgba(221, 72, 20, .2);
    color: rgba(221, 72, 20, 1);
}
header .logo {
    float: left;
    height: 44px;
    padding: .4rem .5rem;
}
header .menu-toggle {
    display: none;
    float: right;
    font-size: 2rem;
    font-weight: bold;
}
header .menu-toggle button {
    background-color: rgba(221, 72, 20, .6);
    border: none;
    border-radius: 3px;
    color: rgba(255, 255, 255, 1);
    cursor: pointer;
    font: inherit;
    font-size: 1.3rem;
    height: 36px;
    padding: 0;
    margin: 11px 0;
    overflow: visible;
    width: 40px;
}
header .menu-toggle button:hover,
header .menu-toggle button:focus {
    background-color: rgba(221, 72, 20, .8);
    color: rgba(255, 255, 255, .8);
}
header .heroe {
    margin: 0 auto;
    max-width: 1100px;
    padding: 1rem 1.75rem 1.75rem 1.75rem;
}
header .heroe h1 {
    font-size: 2.5rem;
    font-weight: 500;
}
header .heroe h2 {
    font-size: 1.5rem;
    font-weight: 300;
}
section {
    margin: 0 auto;
    max-width: 1100px;
    padding: 2.5rem 1.75rem 3.5rem 1.75rem;
}
section h1 {
    margin-bottom: 2.5rem;
}
section h2 {
    font-size: 120%;
    line-height: 2.5rem;
    padding-top: 1.5rem;
}
section pre {
    background-color: rgba(247, 248, 249, 1);
    border: 1px solid rgba(242, 242, 242, 1);
    display: block;
    font-size: .9rem;
    margin: 2rem 0;
    padding: 1rem 1.5rem;
    white-space: pre-wrap;
    word-break: break-all;
}
section code {
    display: block;
}
section a {
    color: rgba(221, 72, 20, 1);
}
section svg {
    margin-bottom: -5px;
    margin-right: 5px;
    width: 25px;
}
.further {
    background-color: rgba(247, 248, 249, 1);
    border-bottom: 1px solid rgba(242, 242, 242, 1);
    border-top: 1px solid rgba(242, 242, 242, 1);
}
.further h2:first-of-type {
    padding-top: 0;
}
.svg-stroke {
    fill: none;
    stroke: #000;
    stroke-width: 32px;
}
footer {
    background-color: rgba(221, 72, 20, .8);
    text-align: center;
}
footer .environment {
    color: rgba(255, 255, 255, 1);
    padding: 2rem 1.75rem;
}
footer .copyrights {
    background-color: rgba(62, 62, 62, 1);
    color: rgba(200, 200, 200, 1);
    padding: .25rem 1.75rem;
}
@media (max-width: 629px) {
    header ul {
        padding: 0;
    }
    header .menu-toggle {
        padding: 0 1rem;
    }
    header .menu-item {
        background-color: rgba(244, 245, 246, 1);
        border-top: 1px solid rgba(242, 242, 242, 1);
        margin: 0 15px;
        width: calc(100% - 30px);
    }
    header .menu-toggle {
        display: block;
    }
    header .hidden {
        display: none;
    }
    header li.menu-item a {
        background-color: rgba(221, 72, 20, .1);
    }
    header li.menu-item a:hover,
    header li.menu-item a:focus {
        background-color: rgba(221, 72, 20, .7);
        color: rgba(255, 255, 255, .8);
    }
}

.container-padding{
    padding-top: 20px;
}

/* BTW alt-shift will pop a color picker
  example color: followed  by alt shift will pop it
*/
/*
Hide the label if placeholder is supported
*/

body{
    background:#b4b4b4;
}

#registration-form {
    font-family:'Open Sans Condensed', sans-serif;
    width: 400px;
    min-width:250px;
    margin: 20px auto;
    position: relative;
}

#registration-form .fieldset {
    background-color:#d5d5d5;

    border-radius: 3px;

}

#registration-form legend {
    text-align: center;
    background: #364351;
    width: 100%;
    padding: 30px 0;
    border-radius: 3px 3px 0 0;
    color: white;
    font-size:2em;
}

.fieldset form{
    border:1px solid #2f2f2f;
    margin:0 auto;
    display:block;
    width:100%;
    padding:30px 20px;
    box-sizing:border-box;
    border-radius:0 0 3px 3px;
}
.placeholder #registration-form label {
    display: none;
}
.no-placeholder #registration-form label{
    margin-left:5px;
    position:relative;
    display:block;
    color:grey;
    text-shadow:0 1px white;
    font-weight:bold;
}
/* all */
::-webkit-input-placeholder { text-shadow:1px 1px 1px white; font-weight:bold; }
::-moz-placeholder { text-shadow:0 1px 1px white; font-weight:bold; } /* firefox 19+ */
:-ms-input-placeholder { text-shadow:0 1px 1px white; font-weight:bold; } /* ie */
#registration-form input[type=text] {
    padding: 15px 20px;
    border-radius: 1px;
    margin:5px auto;
    background-color:#f7f7f7;
    border: 1px solid silver;

    -webkit-box-shadow: inset 0 1px 5px rgba(0,0,0,0.2);
    box-shadow: inset 0 1px 5px rgba(0,0,0,0.2), 0 1px rgba(255,255,255,.8);
    width: 100%;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition:background-color .5s ease;
    -moz-transition:background-color .5s ease;
    -o-transition:background-color .5s ease;
    -ms-transition:background-color .5s ease;
    transition:background-color .5s ease;
}
.no-placeholder #registration-form input[type=text] {
    padding: 10px 20px;
}

#registration-form input[type=text]:active, .placeholder #registration-form input[type=text]:focus {
    outline: none;
    border-color: silver;
    background-color:white;
}
/* all */
::-webkit-input-placeholder { text-shadow:1px 1px 1px white; font-weight:bold; }
::-moz-placeholder { text-shadow:0 1px 1px white; font-weight:bold; } /* firefox 19+ */
:-ms-input-placeholder { text-shadow:0 1px 1px white; font-weight:bold; } /* ie */
#registration-form input[type=password] {
    padding: 15px 20px;
    border-radius: 1px;
    margin:5px auto;
    background-color:#f7f7f7;
    border: 1px solid silver;

    -webkit-box-shadow: inset 0 1px 5px rgba(0,0,0,0.2);
    box-shadow: inset 0 1px 5px rgba(0,0,0,0.2), 0 1px rgba(255,255,255,.8);
    width: 100%;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition:background-color .5s ease;
    -moz-transition:background-color .5s ease;
    -o-transition:background-color .5s ease;
    -ms-transition:background-color .5s ease;
    transition:background-color .5s ease;
}
.no-placeholder #registration-form input[type=password] {
    padding: 10px 20px;
}

#registration-form input[type=password]:active, .placeholder #registration-form input[type=password]:focus {
    outline: none;
    border-color: silver;
    background-color:white;
}

#registration-form input[type=submit] {
    font-family:'Open Sans Condensed', sans-serif;
    text-transform:uppercase;
    outline:none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    background-color: #5C8CA7;
    padding: 10px;
    color: white;
    border: 1px solid #3498db;
    border-radius: 3px;
    font-size: 1.5em;
    font-weight: bold;
    margin-top: 5px;
    cursor: pointer;
    position:relative;
    top:0;
}

#registration-form input[type=submit]:hover {
    background-color: #2980b9;
}

#registration-form input[type=submit]:active {
    background:#5C8CA7;
}


.parsley-error-list{
    background-color:#C34343;
    padding: 5px 11px;
    margin: 0;
    list-style: none;
    border-radius: 0 0 3px 3px;
    margin-top:-5px;
    margin-bottom:5px;
    color:white;
    border:1px solid #870d0d;
    border-top:none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position:relative;
    top:-1px;
    text-shadow:0px 1px 1px #460909;
    font-weight:700;
    font-size:12px;
}
.parsley-error{
    border-color:#870d0d!important;
    border-bottom:none;
}
#registration-form select{
    width:100%;
    padding:5px;
}
::-moz-focus-inner {
    border: 0;
}


.customwrapper {
    display: flex;
}

.custommain {
    width: 70%;
    height: 200vh;
    min-height: 1000px;
    display: flex;
    flex-direction: column;
    background: #fff;
    padding-left: 10px;
    position: absolute;
    left: 25vw;
}

.customsidebar {
    width: 25%;
    height: 100vh;
    min-height: 200px;
    overflow: auto;
    background: #beddf0;
    color: #48793c;
    position: fixed;
    top: 10px;
    font-size: 25px;
}
